<div class="d-flex flex-column" style="width:100vw;height:100vh;">
  <div class="d-flex flex-sm-row flex-column align-items-center w-100 p-3 border-bottom">
    <div class="font-weight-light m-0 p-0 title">
      A Song Of Ice and Fire
    </div>
    <div class="mt-3 mt-sm-0 ml-sm-auto col-sm-4 col-12">
      <div class="input-group">
        <input type="text" [(ngModel)]="filter.text" class="form-control" placeholder="Filter Here..." (input)="filterList()">
        <div class="input-group-append">
          <div class="btn btn-outline-danger" (click)="filter.text = ''; filterList()">Reset</div>
        </div>
      </div>
    </div>
  </div>

  <div class="filter-type p-2 border-bottom text-center">
    <input type="checkbox" name="all" id="all" [(ngModel)]="filter.type[0]" (change)="filter.type = [filter.type[0], false, false, false]; filterList()" hidden>
    <label class="m-0" for="all"><div class="check-item py-2 px-3 rounded">All</div></label>
    <input type="checkbox" name="books" id="books" [(ngModel)]="filter.type[1]" (change)="filter.type[0] = false; filterList()" hidden>
    <label class="m-0" for="books"><div class="check-item py-2 px-3 rounded">Books</div></label>
    <input type="checkbox" name="characters" id="characters" [(ngModel)]="filter.type[2]" (change)="filter.type[0] = false; filterList()" hidden>
    <label class="m-0" for="characters"><div class="check-item py-2 px-3 rounded">Characters</div></label>
    <input type="checkbox" name="houses" id="houses" [(ngModel)]="filter.type[3]" (change)="filter.type[0] = false; filterList()" hidden>
    <label class="m-0" for="houses"><div class="check-item py-2 px-3 rounded">Houses</div></label>
  </div>
  
  <div class="container-fluid px-5 pt-3" style="flex:1;overflow:auto;background:hsl(240, 50%, 99%);">
    <div class="row" *ngIf="list.length > 0">
      <div class="col-12 col-sm-6 col-md-4 my-3" *ngFor="let item of list">
        <div class="card {{item.id[0]}} text-center shadow-sm" id="{{item.id}}" (click)="showDetails(item.id)">
          <div class="card-body d-flex flex-row align-items-center">
              <div class="mr-2">
                <i class="fas fa-{{  item.type === 'books' ? 'book' : item.type === 'houses' ? 'home' : 'user' }}"></i>
              </div>
              <div class="justify-self-center" style="flex:1;" [innerHtml]="showFilteredText(item.orderKey)"></div>
          </div>
        </div>
      </div>
    </div>
    <div class="w-100 text-center text-muted" *ngIf="allItems.length > 0 && list.length === 0">
      No item to show.
    </div>
    <div class="w-100 text-center text-muted" *ngIf="allItems.length === 0">
      Loading...
    </div>
  </div>
</div>

